@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-lightblue {
    background-color: rgba(253, 252, 252, 0.836);
  }
  
  .text-blue {
    color: blue;
  }

  /* Scrollbar Styles */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: #E5E7EB;
    border-radius: 4px;
  }

  #blog-h{
    height: 75vh;
  }